.todos {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: greenyellow;
    padding: 0.5rem;
    gap: 0.5rem;
}

.todo {
    background-color: rgb(247, 220, 187);
    padding: 0.5rem; 
}
